@model Demo.Entity.ViewModel.Brand
@{
    ViewData["Title"] = Model.OperationType;
}
<h1>@Model.OperationType</h1>
<div>

    <dl class="row">
        <dt class="col-sm-2">
            Brand
        </dt>
        <dd class="col-sm-10">
            @Model.BrandName
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.BrandDescription
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BrandId">Edit</a>
    | <a asp-action="Index">Back to List</a>
</div>