@model Demo.Entity.ViewModel.DeleteModal
<div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center justify-content-center mb-3">
                <div class="rounded-circle border border-3 p-1 border-warning shadow ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#e0bd34"
                        class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <path fill="#e0bd34" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path fill="#e0bd34"
                            d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
                    </svg>
                </div>
            </div>

            <div class="modal-body mb-3 " style="text-align: center;">
                <div>
                    <h5 class="modal-title " id="staticBackdropLabel">Confirmation for Delete Account</h5>
                </div>
                Are you sure you want to Delete This @Model.Type?
                @if (Model.Type != "Product" & Model.ProductCount > 0)
                {
                    <p>Deleting this category will also remove all associated <b>@Model.ProductCount</b> products.</p>
                }
            </div>
            <div class="modal-footer d-flex justify-content-center pb-3">
                <form asp-action="Delete" asp-controller="@(ViewContext.RouteData.Values["controller"]?.ToString())"
                    method="post" asp-route-id="@Model.Id">
                    <button type="submit" class="btn btn-danger text-white">Yes Delete</button>
                </form>

                <button type="button" id="cancelbtn" class="btn btn-white text-danger border-danger"
                    data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var myModal = new bootstrap.Modal(document.getElementById('delete'));
        myModal.show();

    });
    $("#cancelbtn").click(function () {
        $("#modalpopup").remove();
        $(".modal-backdrop").remove()
        location.reload();
    });

</script>
